<div class="landing-wrapper">
  <span class="masked-image-wrapper">
     <div class="masked-image">
    <div class="info-wrapper">
      <div class="title">
        Connected People
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="button-wrapper">
        <div class="get-started-button primary-button">
          Auf geht's!
        </div>
      </div>
    </div>
  </div>
  </span>
</div>
<!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
  <defs>
    <mask id="mask1">
      <path d="M-53.90,128.58 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #08f;"></path>
    </mask>
  </defs>
</svg>-->
