<div class="landing-wrapper">
  <div class="background-image">
    <div class="info-wrapper">
      <div class="title">
        Zusammen Großes schaffen
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </div>
      <div class="button-wrapper">
        <button class="get-started-button primary-button">
          Auf geht's!
          <img src="../../assets/arrow.svg">
        </button>
      </div>
    </div>
  </div>
  <div class="middle-section">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#FF5E00" fill-opacity="1"
            d="M0,128L60,117.3C120,107,240,85,360,80C480,75,600,85,720,117.3C840,149,960,203,1080,202.7C1200,203,1320,149,1380,122.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
    <div class="experience">
      <img src="../../assets/beautiful-brunette-cute-774909@2x.png" class="brunette">
      <div class="story">
        <img src="../../assets/anfuup.svg" class="up">
        <div>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum
          dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua
        </div>
        <img src="../../assets/anfudown.svg" class="down">
      </div>
    </div>
  </div>
  <div class="middle-image">
    <div class="speech-bubble">
      <img src="../../assets/adult-beach-casual-736716@2x.png">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua
    </div>
  </div>
  <div class="project-section">
    <img src="../../assets/arrow_right.svg" class="arrow left">
    <div class="project-list">
      <div class="project-wrapper">
        <div class="project">
          <div class="title-section">
            <div class="title">Gassi gehen mit Tom</div>
            <div class="subtitle">Wilhelmstraße, Offenburg</div>
          </div>
          <img src="../../assets/kindergarden" class="project-image">
          <div class="description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua
          </div>
          <div class="location">
            <img src="../../assets/location2.svg">
            Offenburg
          </div>
          <div class="registered-user">
            <img src="../../assets/user.svg">
            0/1
          </div>
          <button class="more primary-button">
            Mehr
          </button>
        </div>
        <div class="project">
          <div class="title-section">
            <div class="title">Malen</div>
            <div class="subtitle">Kindergarten, Offenburg</div>
          </div>
          <img src="../../assets/drawing" class="project-image">
          <div class="description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua
          </div>
          <div class="location">
            <img src="../../assets/location2.svg">
            Offenburg
          </div>
          <div class="registered-user">
            <img src="../../assets/user.svg">
            7/12
          </div>
          <button class="more primary-button">
            Mehr
          </button>
        </div>
        <div class="project">
          <div class="title-section">
            <div class="title">Kinderbetreuung</div>
            <div class="subtitle">Kindergarten, Kehl</div>
          </div>
          <img src="../../assets/dog" class="project-image">
          <div class="description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua
          </div>
          <div class="location">
            <img src="../../assets/location2.svg">
            Kehl
          </div>
          <div class="registered-user">
            <img src="../../assets/user.svg">
            2/5
          </div>
          <button class="more primary-button">
            Mehr
          </button>
        </div>
      </div>
    </div>
    <img src="../../assets/arrow_right.svg" class="arrow">
  </div>
  <div class="footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#FFFFFF" fill-opacity="1"
            d="M0,128L60,117.3C120,107,240,85,360,80C480,75,600,85,720,117.3C840,149,960,203,1080,202.7C1200,203,1320,149,1380,122.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
    <div class="footer-content">
      <div class="nav-stuff">
        <div class="section1">
          <p>Kinder</p>
          <p>Behinderte</p>
          <p>Tiere</p>
          <p>Integration</p>
          <p> Ältere Generation</p>
        </div>
        <div class="section2">
          <p>Organisation anmelden</p>
          <p>Motivation</p>
          <p>Über socially</p>
        </div>
        <div class="section3">
          <p>AGB's</p>
          <p>Privacy</p>
          <p>Contact</p>
        </div>
      </div>
      <div class="social">
        <div class="subtitle">
          Social Media
        </div>
        <div class="images">
          <img class="first" src="../../assets/pintrest.svg">
          <img src="../../assets/twitter.svg">
          <img src="../../assets/instagram.svg">
          <img src="../../assets/facebook.svg">
        </div>
        <button class="primary-button">
          Registriere dich!
        </button>
      </div>
    </div>
  </div>
</div>
<!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
  <defs>
    <mask id="mask1">
      <path d="M-53.90,128.58 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #08f;"></path>
    </mask>
  </defs>
</svg>-->
