@import "../../theme/general";
@import "../../theme/variables";
@import "../../theme/styles/recurring-elements/primary-button";

.main-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(299deg, #ff5533, #364156, #11151c);

  .counter-display {
    font-size: $font-size-default * 2;
    margin-bottom: 5vmin;
    color: $textcolor;
  }

  .button-wrapper {
    margin: 5vmin;
    display: flex;
    justify-content: center;
  }
}
