.card-list {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 5vw;
}
.project-card-list-wrapper {
  background-color: white;
  border: 0px solid transparent;
  border-top-right-radius: 125px;
  border-bottom-left-radius: 125px;
  margin-bottom: 5vh;
  h1 {
    padding-left: 5vw;
    color: black;
    z-index: 100;
  }
}
