@import "../../theme/variables";
@import "../../theme/general";
@import "../../theme/styles/recurring-elements/input";
@import "../../theme/styles/recurring-elements/primary-button";

.primary-button {
  margin-top: 5vmin;
  margin-left: 4vmin;
  padding: 1vmin 3vmin;
  width: 15vmin;

  &[disabled]{
    opacity: 0.8;
    transform: none;
    cursor: default;
  }
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 3vmin;
  padding: 1vmin;

  .title {
    font-family: $title-font;
    font-size: $font-size-title;
    color: white;
  }

  .simple-info {
    margin: 1vmin 0;
  }
  .long {
    width: 80%;
  }
  .mission {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .contact {
    display: flex;
    margin-top: 2vmin;
    flex-direction: column;

    .contact-input-wrapper {
      display: flex;
      .contact-info, .address {
        display: flex;
        flex-direction: column;
      }
      .contact-info {
        margin-right: 1vmin;
      }
      .address {
        margin-left: 1vmin
      }
    }
  }
}
