<div class="project-card-wrapper">
  <div class="title">{{ project.title }}</div>
  <div class="organization-name">{{ project.createdBy }}</div>
  <img class="picture" [src]="project.picture" />
  <div class="shortDescription">{{ project.shortDescription }}</div>
  <div class="small-info">
    <div class="location">
      <img class="locIcon" src="../../assets/location2.svg" />
      {{ project.location.city }}
    </div>

    <div class="participants">
      <img class="locIcon" src="../../assets/user.svg" />
      {{ project.participantTaken }}/{{ project.participantTotal }}
    </div>
    <div class="startTime">
      {{ project.startDate }}
    </div>
  </div>
  <button class="moreB">Mehr</button>
</div>
