<div class="search-form-wrapper">
  Hi

  <input
    [value]="searchProps.place"
    (input)="searchProps.place = $event.target.value"
  />
  <input
    type="text"
    id="topic"
    [value]="searchProps.topic"
    (input)="searchProps.topic = $event.target.value"
  />
  <input
    type="date"
    id="time"
    value="searchProps.{time}"
    (input)="searchProps.time = $event.target.value"
  />
  <select title="category">
    <option>eins</option>
    <option>zwei</option>
  </select>
  <button type="submit" (click)="storeTo()">Suche</button>
</div>
