<div class="navbar-wrapper">
  <div class="logo-wrapper">
    <img src="../../assets/logo"/>
    Socially
  </div>
  <div class="navigation-wrapper">
    <div class="nav-link-wrapper">
      <div class="nav-link">Blog</div>
      <div class="nav-link">News</div>
      <div class="nav-link">About</div>
      <div class="nav-link">Projekte</div>
      <img src="../../assets/magnifyingglas@2x.png">
    </div>
    <div class="burger-menu" [class.active]="menuActive" (click)="menuClicked()">
      <div class="burger-container">
        <div class="burger-inner"></div>
      </div>
    </div>
  </div>
</div>
