@import "../../theme/general";
@import "../../theme/variables";
@import "../../theme/styles/recurring-elements/burger-menu";

.navbar-wrapper {
  width: 100vw;
  height: $navbar-height;
  padding: 1vmin;
  box-sizing: border-box;
  position: relative;
  color: $textcolor;
  background: white;
  .logo-wrapper {
    position: absolute;
    left: 8vmin;
    font-family: $title-font !important;
    font-size: $font-size-title;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    display: flex;
    align-items: center;

    img {
      height: $font-size-title-large;
      margin-right: 1vmin;
    }
  }

  .navigation-wrapper {
    position: absolute;
    right: 8vmin;
    font-family: $text-font;
    font-size: $font-size-title-large;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    .nav-link-wrapper {
      margin-right: 3vmin;
      display: flex;
      align-items: center;
      .nav-link {
        color: black;
        font-weight: bold;
        font-size: $font-size-default;
        margin-right: 2vmin;

      }
      img {
        height: $font-size-default-large;
      }
    }

    .burger-menu {
      padding-top: 13px;
    }
  }
}
